<div class="row">
    <div class="col-md-12">
        <h2>Edit Post</h2>

        <form class="form edit-post-form">
            <input type="hidden" name="post-id" value="{{post.id}}">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-input" type="text" name="post-title" value="{{post.title}}"/>
            </div>
            <div class="form-group">
                <label for="Content">Content</label>
                <textarea class="form-input" name="post-content">{{post.content}}</textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Update Post</button>
                <a href="#" class="btn btn-primary" id="delete-btn">Delete</a>
            </div>
        </form>
    </div>
</div>

<script src="/javascript/edit.js"></script>